__pycache__
*.ckpt
*.safetensors
*.pth
tmp/*
models/**/*
GFPGANv1.3.pth
outputs
log
user.css
.idea
test/stdout.txt
test/stderr.txt
README.md
LICENSE.txt
CODEOWNERS
openai/clip-vit-large-patch14/pytorch_model.bin
extensions/sd-webui-controlnet/annotator/downloads/*
